## Processing rental rates data from [HDB's website](https://www.hdb.gov.sg/cs/infoweb/residential/renting-a-flat/renting-from-hdb/parenthood-provisional-housing-schemepphs/rents-and-deposits)

This notebook processes the rental rates data so that I can merge it with the main dataset.

In [1]:
import pandas as pd
rental_df = pd.read_csv('raw data/rental_rates.csv')
rental_df

,town,2room,3room,4room
0,Ang Mo Kio,$500,$800,-
1,Balestier,-,$700,-
2,Bishan,-,$800,-
3,Bedok,$500,$700,-
4,Bukit Batok,$500,$700,-
5,Bukit Merah/ Lengkok Bahru,-,$700,-
6,Bukit Ho Swee/ Bukit Purmei/ Telok Blangah/ Ti...,-,$900,"$1,500"
7,Petir Road,-,$600,-
8,Choa Chu Kang/ Teck Whye,$400,$600,-
9,Jalan Kukoh/ Jalan Berseh,$550,$800,-
10,Chander Road/ Waterloo Street,-,$900,-
11,Clementi/ West Coast,$400,$800 / $900,-
12,Eunos Cres/ Old Airport Road/ Cassia Cres,-,$600,-
13,Haig Road/ 99 Old Airport Road,NaN,$700,NaN
14,Hougang/ Buangkok Crescent,$500,$600 / $700,-
15,Jurong East,-,$700,-
16,Boon Lay/ Corporation/ Ho Ching/ Jurong West/ ...,$500,$600 / $700,-
17,Geylang Bahru/ French Road/ Jalan Bahagia/ Kal...,$550,$800,-
18,King George's Avenue/Owen Road/Upper Boon Keng,NaN,NaN,NaN
19,Sengkang,$400,-,-
20,Serangoon,-,$800,-
21,Marine Parade,$550,$800,-
22,Dover/ Commonwealth/ Holland/ Queenstown/ Stir...,$550,$700 / $800,-
23,Tampines,$500,$700,-
24,Toa Payoh/ Upper Aljunied,$550,$700 / $800,-
25,Punggol,$500,-,-
26,Canberra/ Sembawang,$400,-,-
27,Marsiling/ Woodlands,$400,$600,-
28,Woodlands Street 13,-,-,$800
29,Yishun,$500,$600 / $700,-

In [2]:

# Strip all text
rental_df = rental_df.applymap(lambda x: x.replace("\xa0", "") if isinstance(x, str) else x)
rental_df = rental_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Replace '-' and 'NaN' values with 0
rental_df.replace(['-', 'NaN', 'nan'], 0, inplace=True)

# Replace currency-formatted numbers with integers
def convert_currency(value) -> int:
    if isinstance(value, str):
        # Handle multiple prices by taking the highest value
        value = max(map(lambda x: int(x.replace('"', '').replace('$', '').replace(',', '').strip()), value.split('/')))
    else:
        value = 0
    return value

rental_df[['2room', '3room', '4room']] = rental_df[['2room', '3room', '4room']].applymap(convert_currency)

# Split rows with multiple towns into individual rows
rental_df = rental_df.assign(town=rental_df['town'].str.split('/')).explode('town').reset_index(drop=True)

# Strip all text
rental_df = rental_df.applymap(lambda x: x.replace("\xa0", "") if isinstance(x, str) else x)
rental_df = rental_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

rental_df

                    town  2room  3room  4room
0             Ang Mo Kio    500    800      0
1              Balestier      0    700      0
2                 Bishan      0    800      0
3                  Bedok    500    700      0
4            Bukit Batok    500    700      0
5            Bukit Merah      0    700      0
6          Lengkok Bahru      0    700      0
7          Bukit Ho Swee      0    900   1500
8           Bukit Purmei      0    900   1500
9          Telok Blangah      0    900   1500
10           Tiong Bahru      0    900   1500
11            Petir Road      0    600      0
12         Choa Chu Kang    400    600      0
13             Teck Whye    400    600      0
14           Jalan Kukoh    550    800      0
15          Jalan Berseh    550    800      0
16          Chander Road      0    900      0
17       Waterloo Street      0    900      0
18              Clementi    400    900      0
19            West Coast    400    900      0
20            Eunos Cres      0    600      0
21      Old Airport Road      0    600      0
22           Cassia Cres      0    600      0
23             Haig Road      0    700      0
24   99 Old Airport Road      0    700      0
25               Hougang    500    700      0
26     Buangkok Crescent    500    700      0
27           Jurong East      0    700      0
28              Boon Lay    500    700      0
29           Corporation    500    700      0
30              Ho Ching    500    700      0
31           Jurong West    500    700      0
32            Yuan Ching    500    700      0
33         Geylang Bahru    550    800      0
34           French Road    550    800      0
35         Jalan Bahagia    550    800      0
36         Kallang Bahru    550    800      0
37              Maude Rd    550    800      0
38  King George's Avenue      0      0      0
39             Owen Road      0      0      0
40       Upper Boon Keng      0      0      0
41              Sengkang    400      0      0
42             Serangoon      0    800      0
43         Marine Parade    550    800      0
44                 Dover    550    800      0
45          Commonwealth    550    800      0
46               Holland    550    800      0
47            Queenstown    550    800      0
48              Stirling    550    800      0
49              Tampines    500    700      0
50             Toa Payoh    550    800      0
51        Upper Aljunied    550    800      0
52               Punggol    500      0      0
53              Canberra    400      0      0
54             Sembawang    400      0      0
55             Marsiling    400    600      0
56             Woodlands    400    600      0
57   Woodlands Street 13      0      0    800
58                Yishun    500    700      0

## Exporting processed data

In [3]:
rental_df.to_csv('processed data/rental_rates.csv', index=False)

## Note
Some manual processing will be required. E.g. Woodlands Street 13's 4 room should be under Woodlands